* {
    margin: 10px;

}
body {
background-color: pink;
font-size: 16px;
text-align: center;
position: relative;
align-content: center;
font-family: 'Assistant', sans-serif;
}
h1 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin: 10px;
    position: relative;
    text-align: center;
}
h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 10px 10 15px 10px;
    position: relative;
    text-align: center;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    position: relative;
}

h4 {
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    position: relative;
    text-align: center;
    margin: 10px 
}
p {
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    width: auto;
    text-align: center;  
    position: relative; 
    margin: 10px 50px; 
    padding: 10px;
}
.ordered-list {
    position: relative;
    width: auto;
    border-color: powderblue;
    border-width: 5px;
    border-style: solid;
   border-radius: 5px;
   background-color: plum;
   font-size: 14px;
   text-align: left;  
   padding: 10px 10px 10px 20px;
   margin: 20px 100px;
}
img {
    width: 200px;
    align-content:center;
    border-color: powderblue;
    border-width: 5px;
    border-style:solid;
   border-radius: 5px;
   position: relative;
   margin: 10px 50px; 
}
#harbour_img {
    width: 400px;
    align-content:center;
    border-color: powderblue;
    border-width: 5px;
    border-style:solid;
   border-radius: 5px; 
   position: relative; 
}
.blog-img {
    width: 500px;
    margin: 10px 50px; 
    text-align: center;  
    align-content: center;
   position: relative;
}
a {
    margin: 5px;
}

