
body {
    background-color: pink;
    font-size: 16px;
    margin: 10px auto;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin: 10px auto;
    /* position: relative; */
    text-align: center;
    padding: 5px ;
    /* max-width: 800px; */
}
h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 10px auto;
    /* position: relative; */
    text-align: center;
    padding: 5px ;
    /* max-width: 800px; */
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px ;
    /* width: 800px; */
    /* position: relative; */
}

h4 {
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    text-align: center;
    /* width: 800px; */
    margin: 10px auto;
    padding: 5px ;
}
p {
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 10px auto;
    padding: 5px ;
    /* width: 800px; */
}
.ordered-list {
   
    max-width: 400px;
    border-color: powderblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    background-color: plum;
    font-size: 14px;
    text-align: left;
    padding: 10px ;
    margin: 10px auto;
}

.unordered-list {
    max-width: 800px;
    border-color: powderblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    background-color: plum;
    font-size: 14px;
    text-align: center;
    padding: 10px 30px ;
    margin: 10px auto;
    display: box ;
}

img {
    width: 200px;
    /* align-content:center; */
    border-color: powderblue;
    border-width: 5px;
    border-style:solid;
    border-radius: 5px;
    margin: 0px auto;
}
.harbour_img {
    width: 500px;
    margin: 0px auto;
}

.blog-img {
    width: 800;
    margin: 10px auto;
    text-align: center;
    margin: 0px auto;
}
/* a {
    margin: 5px;
} */
figcaption {
    margin: 20px 10px 10px 10px;  
}
header {
    margin-bottom: 15px;
}
